@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item"><a asp-action="PageDetails" asp-controller="Admin">Page Details</a></li>
            <li class="list-group-item"><a asp-action="CustomerComments" asp-controller="Admin">Customer Comments</a></li>
        </ul>
    </div>
</div>