<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item"><a asp-action="VipTicket" asp-controller="Admin">Vip Ticket</a></li>
            <li class="list-group-item"><a asp-action="FreeTips" asp-controller="Admin">Free Tips</a></li>
            <li class="list-group-item"><a asp-action="MonthlySubscription" asp-controller="Admin">Monthly Subscription</a></li>
            <li class="list-group-item"><a asp-action="PageDetails" asp-controller="Admin">Page Details</a></li>
            <li class="list-group-item"><a asp-action="CustomerComments" asp-controller="Admin">Customer Comments</a></li>
            <li class="list-group-item"><a asp-action="Seo" asp-controller="Admin">Seo by page</a></li>
        </ul>
    </div>
</div>