<footer>
    <div class="container-fluid">
        <div class="row footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="list-inline header-list">
                            <li class="list-inline-item header-list-item-text"><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li class="list-inline-item header-list-item-text"><a asp-action="Results" asp-controller="Home">Results</a></li>
                            <li class="list-inline-item header-list-item-text"><a asp-action="BettingOdds" asp-controller="Home">Betting Odds</a></li>
                            <li class="list-inline-item header-list-item-text"><a asp-action="VipTicketArchive" asp-controller="Home">Vip ticket archive</a></li>
                            <li class="list-inline-item header-list-item-text"><a asp-action="MonthlySubscriptionArchive" asp-controller="Home">Monthly subscription archive</a></li>
                            <li class="list-inline-item header-list-item-text"><a asp-action="FreeTipsArchive" asp-controller="Home">Free tips archive</a></li>
                            <li class="list-inline-item header-list-item-text"><a asp-action="About" asp-controller="Home">About</a></li>
                            <li class="list-inline-item header-list-item-text"><a asp-action="Advertise" asp-controller="Home">Advertise</a></li>
                            <li class="list-inline-item header-list-item-text"><a asp-action="ToS" asp-controller="Home">Terms of service</a></li>
                            <li class="list-inline-item header-list-item-text"><a asp-action="FAQ" asp-controller="Home">FAQ</a></li>
                            <li class="list-inline-item header-list-item-text"><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            Free football matches are not fixed .. these are suggestions we make in our opinion.
                            The matches we sell are fixed and reliable with information from betting experts for
                            football matches
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Copyright © Best fixed matches 1x2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
