<div class="container-fluid">
    <div class="row header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline header-list">
                        <li class="list-inline-item header-list-item-text"><a asp-action="About" asp-controller="Home">About</a></li>
                        <li class="list-inline-item header-list-item-text"><a asp-action="Advertise" asp-controller="Home">Advertise</a></li>
                        <li class="list-inline-item header-list-item-text"><a asp-action="ToS" asp-controller="Home">Terms of Service</a></li>
                        <li class="list-inline-item header-list-item-text"><a asp-action="FAQ" asp-controller="Home">FAQ</a></li>
                        <li class="list-inline-item header-list-item-text"><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline float-right header-list">
                        <li class="list-inline-item header-list-item-text">
                            <a href="#">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item header-list-item-text">
                            <a href="#">
                                <i class="fa fa-instagram"
                                   aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item header-list-item-text">
                            <a href="#">
                                <i class="fa fa-google"
                                   aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
