@using Core.Models
@{
    var baseModel = (BaseModel)ViewBag.BaseModel;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@baseModel.Seo.Title</title>
    @await Html.PartialAsync("_StaticImports_css")
    @await Html.PartialAsync("_StaticImports_js")
</head>
<body>

    @await Html.PartialAsync("_Header")
    @await Html.PartialAsync("_Navigation")

    <div class="container main-container">
        @RenderBody()
        <hr />
    </div>

    @await Html.PartialAsync("_Footer",baseModel.Footer)
</body>
</html>
