<div class="row">
    <div class="col main-more-information">
        <hr>
        <h5>For more information contact:</h5>
        <p><a href="#">bestfixedmatches1x2@gmail.com</a></p>
        <hr>
    </div>
</div>