<nav class="navbar navbar-expand-md">
    <div class="container">
        <a asp-action="Index" asp-controller="Home" class="navbar-brand">
            <img src="~/images/static-images/logo.png" height="80" alt="logo for our best fixed matches">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link nav-item-text">Home</a>
                <a asp-action="Results" asp-controller="Home" class="nav-item nav-link nav-item-text">Results</a>
                <a asp-action="BettingOdds" asp-controller="Home" class="nav-item nav-link nav-item-text">Betting Odds</a>
                <a asp-action="VipTicketArchive" asp-controller="Home" class="nav-item nav-link nav-item-text">Vip Ticket archive</a>
                <a asp-action="MonthlySubscriptionArchive" asp-controller="Home" class="nav-item nav-link nav-item-text">Monthly Subscription Archive</a>
                <a asp-action="FreeTipsArchive" asp-controller="Home" class="nav-item nav-link nav-item-text">Free Tip Archive</a>
            </div>
        </div>
    </div>
</nav>