@model List<Core.Models.CommentModel>

<div class="row">
    <div class="col">
        <h4 class="side-header-text">WHAT OUR CLIENTS SAY for the best fixed matches</h4>
        <ul class="list-group side-comments">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <p>
                        @item.Comment
                    </p>
                    <p>
                        @item.Name
                    </p>
                </li>
            }
        </ul>
    </div>
</div>