<div class="row">
    <div class="col">
        <hr>
        <section>
            <div class="alert alert-custom" role="alert">
                <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i>Free Tips</h2>
            </div>
            <hr>
            <div class="monthly-subscription">
                <p class="custom-main-text">
                    Free football matches are not fixed .. these are suggestions we make in our opinion.
                    The matches we sell are fixed and reliable with information from betting experts for
                    football matches.
                </p>
                <hr>
                <h4>Fixed matches for 20.12.2020</h4>

                <ul class="list-group custom-main-list">
                    <li class="list-group-item">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>20:00 Real-Barsa X
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>20:00 Real-Barsa X
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>20:00 Real-Barsa X
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>20:00 Real-Barsa X
                    </li>
                </ul>
                <div class="main-more-information">
                    <hr>
                    <h5>For more information contact:</h5>
                    <p><a href="#">bestfixedmatches1x2@gmail.com</a></p>
                    <hr>
                </div>

            </div>


            <div class="table-responsive">
                <h4 class="vip-tickets-images-intro-text">
                    Free tips Archive for December 2020
                </h4>
                <table class="table table-cumstom">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>