<div class="row">
    <div class="col">
        <section>
            <div class="alert alert-custom" role="alert">
                <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i>Monthly Subscration</h2>
            </div>
            <hr>
            <div class="monthly-subscription">
                <p class="custom-main-text">
                    Next Ticket For 30.05.2020 (Saturday)<br>
                    One ticket = (4 fixed matches >> Odd: 250.00 - 300.00 )<br>
                    Safe 1000%, Profit is Guaranteed !!<br>
                    Information about the fixed matches:<br>
                    >> Suspended players, injured players, the financial situation at the clubs, forms,
                    mutual
                    agreement
                    between the clubs, strong information…
                </p>

                <ul class="list-group custom-main-list">
                    <li class="list-group-item">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>Price for one week is 50 eur
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>Packet two weeks 110 eur
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>Packet three weeks 110 eur
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-arrow-right"
                           aria-hidden="true"></i>Packet three tickets 110 eur
                    </li>
                </ul>


                <div class="main-more-information">
                    <hr>
                    <h5>For more information contact:</h5>
                    <p><a href="#">bestfixedmatches1x2@gmail.com</a></p>
                    <hr>
                </div>


            </div>

            <div class="table-responsive">
                <h4 class="vip-tickets-images-intro-text">
                    Monthly Subscration Archive for December 2020
                </h4>
                <table class="table table-cumstom">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                            <td>mdo</td>
                        </tr>
                    </tbody>
                </table>


                <div class="col-md-12 custom-default-url">
                    <p><a href="#">View more winning tip ticket (fixed matches)</a></p>
                </div>
            </div>
        </section>
    </div>
</div>