<div class="row">
    <div class="col payment-methods">
        <h4 class="side-header-text">Payment methods</h4>
        <div class="card payment-methods-card">
            <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    SKRILL, PART OF SKRILL HOLDINGS, IS A LEADING ONLINE PAYMENTS AND
                    DIGITAL WALLET SERVICE WITH OVER 15 MILLION ACCOUNT HOLDERS.
                    SKRILL WORLDWIDE PAYMENT NETWORK OFFERS BUSINESSES
                    TO DIRECTLY PROCCESS OVER 100 PAYMENT OPTIONS IN OVER 200 COUNTRIES AND TERRITORIES,
                    THROUGH JUST ONE INTEGRATION.
                </p>
            </div>
        </div>
        <div class="card payment-methods-card">
            <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    SKRILL, PART OF SKRILL HOLDINGS, IS A LEADING ONLINE PAYMENTS AND
                    DIGITAL WALLET SERVICE WITH OVER 15 MILLION ACCOUNT HOLDERS.
                    SKRILL WORLDWIDE PAYMENT NETWORK OFFERS BUSINESSES
                    TO DIRECTLY PROCCESS OVER 100 PAYMENT OPTIONS IN OVER 200 COUNTRIES AND TERRITORIES,
                    THROUGH JUST ONE INTEGRATION.
                </p>
            </div>
        </div>
        <div class="card payment-methods-card">
            <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    SKRILL, PART OF SKRILL HOLDINGS, IS A LEADING ONLINE PAYMENTS AND
                    DIGITAL WALLET SERVICE WITH OVER 15 MILLION ACCOUNT HOLDERS.
                    SKRILL WORLDWIDE PAYMENT NETWORK OFFERS BUSINESSES
                    TO DIRECTLY PROCCESS OVER 100 PAYMENT OPTIONS IN OVER 200 COUNTRIES AND TERRITORIES,
                    THROUGH JUST ONE INTEGRATION.
                </p>
            </div>
        </div>
        <div class="card payment-methods-card">
            <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    SKRILL, PART OF SKRILL HOLDINGS, IS A LEADING ONLINE PAYMENTS AND
                    DIGITAL WALLET SERVICE WITH OVER 15 MILLION ACCOUNT HOLDERS.
                    SKRILL WORLDWIDE PAYMENT NETWORK OFFERS BUSINESSES
                    TO DIRECTLY PROCCESS OVER 100 PAYMENT OPTIONS IN OVER 200 COUNTRIES AND TERRITORIES,
                    THROUGH JUST ONE INTEGRATION.
                </p>
            </div>
        </div>
    </div>
</div>