<div class="row">
    <div class="col payment-methods">
        <h4 class="side-header-text">Payment methods</h4>
        <div class="card payment-methods-card">
            <img src="~/images/paymentmethods/skrill.png" class="card-img-top" alt="payment for best fixed matches with skrill">
            <div class="card-body">
                <p class="card-text">
                    SKRILL, PART OF SKRILL HOLDINGS, IS A LEADING ONLINE PAYMENTS AND
                    DIGITAL WALLET SERVICE WITH OVER 15 MILLION ACCOUNT HOLDERS.
                    SKRILL WORLDWIDE PAYMENT NETWORK OFFERS BUSINESSES
                    TO DIRECTLY PROCCESS OVER 100 PAYMENT OPTIONS IN OVER 200 COUNTRIES AND TERRITORIES,
                    THROUGH JUST ONE INTEGRATION.
                </p>
            </div>
        </div>
        <div class="card payment-methods-card">
            <img src="~/images/paymentmethods/western_union.png" class="card-img-top" alt="the best payment method for the best fixed matches">
            <div class="card-body">
                <p class="card-text">
                    WESTERN UNION IS A SERVICE OF QUICK MONEY TRANSFER – A SYSTEM WHICH ENABLES RECEIVING AND SENDING MONEY THROUGHOUT THE WORLD, ON A VERY QUICK AND SIMPLE WAY.
                    IN ORDER TO USE THIS SERVICE YOU NEED NOT TO HAVE AN ACCOUNT OPENED WITH THE BANK. YOU JUST SIMPLY NEED TO COME TO THE BANK’S COUNTERS WITH A VALID IDENTIFICATION 
                    DOCUMENT (ID OR PASSPORT) AND TO FULFILL A FORM FOR ACCEPTANCE OR REMITTANCE OF MONEY
                </p>
            </div>
        </div>
        <div class="card payment-methods-card">
            <img src="~/images/paymentmethods/moneygram.jpg" class="card-img-top" alt="moneygram payment method for real fixed matches">
            <div class="card-body">
                <p class="card-text">
                    MONEYGRAM IS A LEADING GLOBAL MONEY TRANSFER AND PAYMENT SERVICES COMPANY. WE PROVIDE QUICK AND RELIABLE WORLDWIDE FUNDS 
                    TRANSFER THROUGH OUR VAST NETWORK OF APPROXIMATELY 350,000 AGENT S - INCLUDING RETAILERS, INTERNATIONAL POST OFFICES AND BANKS - 
                    IN MORE THAN 200 COUNTRIES AND TERRITORIES, 
                    AND THROUGH MOBILE AND ONLINE CHANNELS. MONEYGRAM OFFERS CONVENIENT SERVICES TO CONSUMERS AROUND THE WORLD.
                </p>
            </div>
        </div>
        <div class="card payment-methods-card">
            <img src="~/images/paymentmethods/neteller.png" class="card-img-top" alt="pay for real fixed matches with neteller">
            <div class="card-body">
                <p class="card-text">
                    NETELLER HAS PROVIDED BUSINESSES AND INDIVIDUALS WITH A FAST, SIMPLE AND SECURE WAY TO MOVE MONEY ONLINE. 
                    AS ONE OF THE WORLD'S LARGEST INDEPENDENT MONEY TRANSFER BUSINESSES, WE PROCESS BILLIONS OF DOLLARS WORTH OF TRANSACTIONS EACH YEAR. 
                    TRUSTED BY MERCHANTS AND CONSUMERS ALIKE, OUR FINANCIAL SERVICES SPAN MORE THAN 200 COUNTRIES ACROSS A BROAD SPECTRUM OF INDUSTRIES 
                    AND BUSINESSES. THE NETELLER SERVICE IS OPERATED BY PAYSAFE FINANCIAL SERVICES LIMITED.
                </p>
            </div>
        </div>
        <div class="card payment-methods-card">
            <img src="~/images/paymentmethods/bitcoin.png" class="card-img-top" alt="crypto payment for the free fixed matches">
            <div class="card-body">
                <p class="card-text">
                    BITCOIN IS A DIGITAL CURRENCY CREATED IN JANUARY 2009 FOLLOWING THE HOUSING MARKET CRASH. IT FOLLOWS THE IDEAS SET OUT IN A 
                    WHITEPAPER BY THE MYSTERIOUS AND PSEUDONYMOUS SATOSHI NAKAMOTO.﻿ THE IDENTITY OF THE PERSON OR PERSONS WHO CREATED THE TECHNOLOGY IS STILL A 
                    MYSTERY. BITCOIN OFFERS THE PROMISE OF LOWER TRANSACTION FEES THAN TRADITIONAL ONLINE PAYMENT MECHANISMS AND IS 
                    OPERATED BY A DECENTRALIZED AUTHORITY, UNLIKE GOVERNMENT-ISSUED CURRENCIES.
                </p>
            </div>
        </div>
    </div>
</div>