<div class="row">
    <div class="col">
        <ul class="list-group site-visitors-list">
            <li class="list-group-item">Today visitors: <span>1200</span></li>
            <li class="list-group-item">Total visitors: <span>10000</span></li>
        </ul>
    </div>
</div>