@using System.Globalization
@model Core.Models.CounterModel

    <div class="row">
        <div class="col">
            <a href="https://www.bestfixedmatches1x2.com" target="_blank">
                <img src="~/images/static-images/best-fixed-matches.gif" alt="Best fixed matches gif" class="img-fluid"/>
            </a>
            <hr/>
            <ul class="list-group site-visitors-list">
                <li class="list-group-item">Today visitors: <span>@Model.TotalToday.ToString("#,#", CultureInfo.InvariantCulture)</span></li>
                <li class="list-group-item">Total visitors: <span>@Model.TotalAll.ToString("#,#", CultureInfo.InvariantCulture)</span></li>
            </ul>
        </div>
    </div>
