@model Core.Models.HtmlModel

<div class="row">
    <div class="col">
        <section>
            <div class="alert alert-custom" role="alert">
                <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i><i class="fas fa-comment-exclamation"></i>Terms of service</h2>
            </div>
            <hr>
            <div class="static-pages">
                @Html.Raw(Model.Html)
            </div>
        </section>
    </div>
</div>