<div class="row">
    <div class="col-md-12">
        <div class="alert alert-custom" role="alert">
            <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i>Vip ticket archive</h2>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            BestFixedMatches1x2.com only reliable and real occurrences, 100% sure winning competitions and reliable
            first-hand information that comes directly from sources inside the clubs and sports fields, can take you to a lot of money, a better life and a secure and bright future.
            The real connection makes the real betting profitable not luck! This is huge business and the bookies are very precise.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card vip-ticket-card">
            <a asp-action="VipTicketArchiveSingle" asp-route-id="1" asp-controller="Home">
                <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
                <div class="card-body vip-ticket-card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and
                        make up
                        the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item vip-ticket-card-list-item"><span>Date:</span>
                        20.12.2020</li>
                    <li class="list-group-item vip-ticket-card-list-item"><span>Odd:</span> 250
                    </li>
                    <li class="list-group-item vip-ticket-card-list-item"><span>Price:</span>
                        2500</li>
                </ul>
            </a>
        </div>
    </div>
</div>