@model Tuple<Core.Models.HtmlModel, Core.Models.VipTicketModel>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-custom" role="alert">
            <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i>Vip ticket Singe</h2>
        </div>
    </div>
    <div class="col-md-12">
        <div class="vip-ticket-archive-main">
            @Html.Raw(Model.Item1.Html)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img class="card-img-top" src="~/images/tickets/@Model.Item2.ImgUrl" alt="@Model.Item2.AltTag">
    </div>
    <div class="col-md-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item vip-ticket-card-list-item">
                <i class="fa fa-arrow-right"
                   aria-hidden="true"></i>DATE: @Model.Item2.Date
                </li>
        </ul>

        @await Html.PartialAsync("_MoreInformation")

        <div class="row">
            <div class="col vip-archive-single-url">
                <p><a asp-action="VipTicketArchive" asp-controller="Home">See more vip tickets</a></p>
                <p><a asp-action="MonthlySubscriptionArchive" asp-controller="Home">See Monthly Subscription Offer</a></p>
            </div>
        </div>
    </div>


</div>