@model Tuple<Core.Models.HtmlModel,List<Core.Models.VipTicketModel>>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-custom" role="alert">
            <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i>Vip ticket archive</h2>
        </div>
    </div>
    <div class="col-md-12">
        <div class="vip-ticket">
            @Html.Raw(Model.Item1.Html)
        </div>
    </div>
</div>
<div class="row">
   
        
        @foreach (var item in Model.Item2)
        {
            <div class="col-md-3">
                <div class="card vip-ticket-card">
                    <a asp-action="VipTicketArchiveSingle" asp-route-id="@item.Id" asp-controller="Home">
                        <img class="card-img-top" src="~/images/tickets/@item.ImgUrl" alt="@item.AltTag">
                        <div class="card-body vip-ticket-card-body">
                            <h5 class="card-title">@item.Date</h5>
                        </div>
                    </a>
                </div>
            </div>
        }
        
    
</div>