@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-custom" role="alert">
            <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i>Vip ticket Singe</h2>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            BestFixedMatches1x2.com only reliable and real occurrences, 100% sure winning competitions and
            reliable
            first-hand information that comes directly from sources inside the clubs and sports fields, can take
            you to a lot of money, a better life and a secure and bright future.
            The real connection makes the real betting profitable not luck! This is huge business and the
            bookies are very precise.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
    </div>
    <div class="col-md-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item vip-ticket-card-list-item">
                <i class="fa fa-arrow-right"
                   aria-hidden="true"></i>DATE: 20.12.2020
            </li>
            <li class="list-group-item vip-ticket-card-list-item">
                <i class="fa fa-arrow-right"
                   aria-hidden="true"></i>ODD: 250
            </li>
            <li class="list-group-item vip-ticket-card-list-item">
                <i class="fa fa-arrow-right"
                   aria-hidden="true"></i>PRICE: 2500
            </li>
        </ul>

        @await Html.PartialAsync("_MoreInformation") 

        <div class="row">
            <div class="col vip-archive-single-url">
                <p><a asp-action="VipTicketArchive" asp-controller="Home">See more vip tickets</a></p>
                <p><a asp-action="MonthlySubscriptionArchive" asp-controller="Home">See Monthly Subscription Offer</a></p>
            </div>
        </div>
    </div>


</div>